.home {
    text-align: center;
}

h1 {
    font-size: 2rem;
}

img.logo {
    display: block;
    max-width: 500px;
    margin: 0 auto;
}

img.responsive {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 4rem;
    }
}
