.pin_display {
    margin: 1rem;
    display: flex;
    justify-content: center;

    border: 30px solid $base-primary-dark;
    border-radius: 20px;

    -webkit-box-shadow: inset 0px 0px 124px 7px rgba(151,219,167,1);
    -moz-box-shadow: inset 0px 0px 124px 7px rgba(151,219,167,1);
    box-shadow: inset 0px 0px 124px 7px rgba(151,219,167,1);
}
.digit {
    font-size: 7rem;
}

@media only screen and (min-width: 600px) {
    .pin_display {
        max-width: 800px;
        margin: 0 auto;
    }
    .digit {
        font-size: 10rem;
        padding: 0rem 1.5rem;
    }
}

.btn {
    color: $base-light;
    background: transparent;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin: 1.5rem 0;
    border: 3px solid $base-primary-dark;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;

    transition: transform 0.5s ease-in-out, border-color 2s;
}
.btn:hover {
    border-color: $base-light;
    transform: scale(1.05);
}

@media only screen and (min-width: 600px) {
    .pin_display {
        max-width: 800px;
        margin: 0 auto;
    }
    .btn {
        font-size: 3rem;
        padding: 1.5rem 3rem;
    }
}

div.error-msg {
    display: none;
    &.display {
        display: block;
    }
}
