@import 'base';
@import 'components';
@import 'pages/home';

@font-face {
    font-family: 'VT232';
    src: url('../fonts/VT323/VT323-Regular.ttf') format('truetype');
}

body {
    font-family: VT232;
    text-transform: uppercase;
    background-color: $base-dark;
    color: $base-primary-regular;
}


