<template>
    <div class="home">
        <h1>Pin Number Generator</h1>
        <p>Total Generated: {{ pinNumberCnt || '-' }}</p>

        <div class="pin_display">
            <div ref="digit_1" class="digit">-</div>
            <div ref="digit_2" class="digit">-</div>
            <div ref="digit_3" class="digit">-</div>
            <div ref="digit_4" class="digit">-</div>
        </div>

        <div ref="error_msg" class="error-msg"><p>Sorry, there has been an error</p></div>

        <button class="btn" @click="generateClick">Generate</button>

        <img class="logo responsive" src="../assets/croc-icon.png">
    </div>
</template>

<script>
import {mapState, mapActions} from 'vuex';
import animateDigit from '../common/digit-animate';

export default {
    name: 'Home',
    data() {
        return {
            msg: 'help'
        }
    },
    methods: {
        ...mapActions('app', {
            generatePinNumber: 'generatePinNumber'
        }),
        generateClick() {
            this.generatePinNumber().then((data) => {
                animateDigit(this.$refs.digit_1, 1500, data.pinNumber[0]);
                setTimeout(() => {
                    animateDigit(this.$refs.digit_2, 1500, data.pinNumber[1]);
                }, 500);
                setTimeout(() => {
                    animateDigit(this.$refs.digit_3, 1500, data.pinNumber[2]);
                }, 1000);
                setTimeout(() => {
                    animateDigit(this.$refs.digit_4, 1500, data.pinNumber[3]);
                }, 1500);
            }).catch((error) => {
                this.$refs.digit_1.innerHTML = 'E'
                this.$refs.digit_2.innerHTML = 'R'
                this.$refs.digit_3.innerHTML = 'O'
                this.$refs.digit_4.innerHTML = 'R'

                this.$refs.error_msg.classList.add("display");
            });
        },
    },
    computed: {
        ...mapState('app', {
            pinNumberCnt: 'pinNumberCnt'
        })
    }
}
</script>
<style>


</style>
